<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mapp/analitika.css' %}">
    <title>Аналитика</title>
</head>
<body>
    <div class="site">
        <div class="header">
            <img src="{% static 'photo/LOGO 1.png' %}">
            <hr>
            <span>Умный город - Свободные дороги</span>
            <hr>
            <img src="{% static 'photo/Frame 106.png' %}" class="av">
        </div>
        <div class="ll"></div>
        <div class="mid">
            <div class="map">
            </div>
            <div class="diag">
                <div class="cd">
                    <img src="{% static 'photo/Block.png' %}">
                    <img src="{% static 'photo/Block (1).png' %}">
                </div>
                <div class="do">
                    <img src="{% static 'photo/Block (2).png' %}">
                </div>
                <div class="cd2">
                    <img src="{% static 'photo/photo_2024-12-07_23-54-18 1.png' %}">
                    <img src="{% static 'photo/photo_2024-12-08_00-13-09 1.png' %}">
                </div>
                <div class="cd3">
                    <img src="{% static 'photo/Frame 135.png' %}" class="cd3img">
                    <img  src="{% static 'photo/photo_2_2024-12-07_22-42-59 1.png' %}">
                </div>
            </div>
        </div>
        </div>
    </div>
</body>
</html>