<!DOCTYPE html>
<html lang="ru">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'mapp/home.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">
    <title>Главная</title>
</head>
<body>
    <div class="site">
        <div class="header">
            <img src="{% static 'photo/LOGO 1.png' %}"/>
            <hr>
            <span>Умный город - Свободные дороги</span>
            <hr>
            <div class="btnlog">
                <div class="crbtn">
                    <a href="#" style="font-family: Inter;">Зарегистрироваться</a>
                </div>
            <p class="akk">Уже есть аккаунт?<a class="voyti" href="#">Войти</a></p>
            </div>
        </div>
        <div class="hrlong"></div>
        <div class="mid">
            <div class="lpart">
                <div class="row">
                    <a href="/request/">
                    <div class="row1">
                        <span> Заявки</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none">
                            <path d="M52.5 17.5H63L57.75 24.5L52.5 17.5ZM17.5 7H66.5C70.385 7 73.5 10.15 73.5 14V70C73.5 73.885 70.385 77 66.5 77H17.5C13.65 77 10.5 73.885 10.5 70V14C10.5 10.15 13.65 7 17.5 7ZM17.5 14V28H66.5V14H17.5ZM17.5 70H66.5V35H17.5V70ZM24.5 42H59.5V49H24.5V42ZM24.5 56H59.5V63H24.5V56Z" fill="black"/>
                          </svg>
                    </div>
                    </a>
                    <div class="row2">
                        <span>Посмотреть список
                            поступившик заявок 
                            оператору ЦОДД</span>
                    </div>
                </div>
                <div class="row">
                    <a href="/analitics/">
                    <div class="row1">
                        <span>Аналитика</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none">
                            <path d="M75.95 25.55C74.55 24.15 72.45 24.15 71.05 25.55L49 47.6L33.95 32.55C33.25 31.85 32.55 31.5 31.5 31.5C30.45 31.5 29.75 31.85 29.05 32.55L8.05 53.55C7.35 54.25 7 54.95 7 56C7 58.1 8.4 59.5 10.5 59.5C11.55 59.5 12.25 59.15 12.95 58.45L31.5 39.9L46.55 54.95C46.9 55.3 47.25 55.65 47.6 55.65C47.95 56 48.65 56 49 56C49.7 56 50.75 55.65 51.1 54.95C51.1 54.95 51.1 54.95 51.45 54.95L75.95 30.45C77.35 29.05 77.35 26.95 75.95 25.55Z" fill="black"/>
                          </svg>
                    </div>
                    </a>
                    <div class="row2">
                        <span>Узнать более <br>подробную <br> информацию</span>
                    </div>
                </div>
                <div class="row">
                    <a href="/map/">
                    <div class="row1">
                        <span>Карта</span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="84" height="84" viewBox="0 0 84 84" fill="none">
                            <path d="M81.6696 5.25006C81.3838 5.25006 81.0892 5.31076 80.8004 5.44037L56.0015 15.7501H56L30.9167 5.78819C29.9647 5.43222 28.9681 5.25053 27.965 5.25006C26.9894 5.25006 26.0152 5.42233 25.076 5.76522L2.93417 14.4294C2.06818 14.819 1.32582 15.4916 0.802826 16.3604C0.279838 17.2292 0.000207405 18.2544 0 19.3037L0 76.1218C0 77.6295 1.09812 78.7501 2.33187 78.7501C2.61771 78.7501 2.91083 78.6894 3.20104 78.5597L28 68.2501L53.0833 78.2103C54.9777 78.9215 57.0249 78.9301 58.924 78.2349L81.0658 69.5708C81.9319 69.1813 82.6744 68.5087 83.1974 67.6399C83.7204 66.771 84 65.7458 84 64.6965V7.87834C84 6.37061 82.9019 5.25006 81.6696 5.25006ZM32.6667 14.8346L51.3333 22.2486V69.1655L32.6667 61.7515V14.8346ZM7 68.5864V21.1756L25.6667 13.8699V60.8246L25.5733 60.8623L7 68.5864ZM77 62.8229L58.3333 70.1286V23.1755L58.4267 23.1362L77 15.4137V62.8229Z" fill="black"/>
                          </svg>
                    </div>
                    </a>
                    <div class="row2">
                        <span>Узнать информацию<br> о дорожном<br> движении в городе</span>
                    </div>
                </div>
            </div>
            <div class="rpart">
                <video autoplay muted loop class="vrpart">
                    <source src="{% static 'video/-cfe6-4998-8693-29463014d0c5.mp4' %}" type="video/mp4">
                    Ваш браузер не поддерживает воспроизведение видео.
                </video>
            </div>
        </div>
        <div class="footer">
            <img src="{% static 'photo/footer.png' %}" style="width: 100%"/>
        </div>
    </div> 
</body>
</html>