<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Сохранённые пути</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'mapp/route_list.css' %}">
</head>
<body>

{% for route in routs %}
<div class="cont">
    <div class="item-lp">
        <p class="label">{{route.name}}</p>
        <p class="dots">{{route.dot_start}}<br>{{route.dot_end}}</p>
    </div>
    <div class="item-rp">
        <p class="time">{{route.trip_time}}</p>
        <button class="repeat-btn">Повторить</button>
    </div>
</div>
{% endfor %}


</body>
</html>